<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ride ended - Rate the ride?</h4>
          <button type="button" class="close-btn" (click)="hide()">
           &times;
          </button>
        </div>
        <div class="star-rating">
          <p class="rate-title">Rate the ride:</p>
          <span *ngFor="let star of rideStars; let i = index" (click)="fillStars(i, 'ride')" [ngClass]="{'filled': i < rideFilled, 'hovered': i < rideHovered}">
            &#9733;
          </span>
        </div>
        <div class="star-rating">
          <p class="rate-title">Rate the driver:</p>
          <span *ngFor="let star of driverStars; let i = index" (click)="fillStars(i, 'driver')" [ngClass]="{'filled': i < driverFilled, 'hovered': i < driverHovered}">
            &#9733;
          </span>
        </div>
        <div class="comment">
          <p class="rate-title comment-text">Leave a comment:</p>
          <textarea  rows="2"></textarea>
        </div>
        
        
       

        <div class="modal-footer">
  
          <button type="button" class="btn btn-decline">Rate</button>
        </div>
      </div>
    </div>
  </div>
  
  