<div id="ride-details-container" class="ride-details-container">
    <p id="ride-accepted-title">RIDE ACCEPTED</p>
    <hr>
    <p class="simple-title" id="driver-details-title">Driver details:</p>
    <div class="driver-details" id="driver-details-container">
            <img src="../../../../assets//images/mockPhotos/mock_photo2.jpg"
             alt="Mock Photo 2" class="circle-img" id="driver-profile-pic">
        <div >
            <div class="name-title" id="driver-name-title">Aleksandar Mitrovic</div>
            <div id="rate">
                <img src="../../../../assets//images/icons/star-icon.png"
                 class="star-icon" alt="Rate" id="star-icon">
                <p id="rate-value" class="rate-value">3.4</p>
            </div>
        </div>
        <div id="car-details">
            <img src="../../../../assets/images/icons/car-icon.png"
             alt="car" class="car-icon" id="car-icon">
            <p class="car-title">Wolkswagen Golf 5</p>
            <div>
                
                <div class="car-title">Red
                    <div id="car-color" class="car-color"></div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <p class="simple-title" id="">Ride details:</p>
    <div class="ride-details" id="ride-details-container">
        <img src="../../../../assets/images/icons/dollarIcon.png" class="ride-icon">
        Price: {{currentRide.price}}din
    </div>
    <div class="ride-details">
        <img src="../../../../assets/images/icons/hourGlassIcon.png" class="ride-icon">
        Duration: {{currentRide.duration}}min
    </div>
    <div class="ride-details">
        <img src="../../../../assets/images/icons/distanceIcon.png" class="ride-icon">
        Distance: {{currentRide.distance}} km
    </div>
</div>