* {
    background-color: black;
    margin: 0;
    padding: 0; 
    max-width: 100vw;
}
mat-toolbar {
    display: flex;
    justify-content: space-between;
}
#navbar{
    display:flex;
}
.image{
    height: 15vh;
    justify-content: flex-start;
}
button{
    color: white;
    justify-content: flex-end;
}
button:hover{
    text-decoration: underline;
}