<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Noto Sans">
<body>
    <form name="LoginForma" id="LoginForma">
        <div class="modal-body text-center">
            <h1 style="font-size:40px">Login</h1>
            <p style="font-size:20px">Hey! Enter your credentials to sign in to your account!</p>
            <input type="text" id="email_login" placeholder="E-mail">
            <input type="password" id="sifra_login" placeholder="Password">
            <p style="font-size:20px; text-align:left; margin-left: 8px"><b>Having troubles logging in?</b></p>
            <button class="btn btn-primary">Log in</button>
            <p style="margin-top:2vw">Don't have an account?<b> Register now</b></p>
        </div>
    </form>
</body>