<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form name="LoginForma" id="LoginForma">
    <div class="modal-body text-center">

        <p>
            <label for="email">E-mail:</label>
            <br />
            <input type="text" name="email_login" id="email_login">
        </p>

        <p>
            <label for="sifra">Šifra:</label>
            <br />
            <input type="password" name="sifra_login" id="sifra_login">
        </p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ZatvoriDugme">Zatvori</button>
        <button type="submit" class="btn btn-primary">Prijavite se</button>


    </div>
    <div class="modal-footer">

    </div>
</form>