<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close-btn" (click)="hide()">
           &times;
          </button>
        </div>
        <div class="modal-body">
            <form name="LoginForma"  id="LoginForma">
                <div class="modal-body text-center">
                    <p class="subtitle">Hey! Enter your credentials to sign in to your account!</p>
                    <div class="credentials">
                      <input type="text" name = "email" id="email_login" placeholder="E-mail" [(ngModel)]="email">
                      <input type="password" name = "password" id="sifra_login" placeholder="Password" [(ngModel)]="password">
                    </div>
                  
                    <p style="margin-top:2vw">Don't have an account?<b> Register now</b></p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
  
          <button type="button" class="btn login_btn" (click)="getAccessToken()">Login</button>
        </div>
      </div>
    </div>
  </div>
  