<div class="accountInformation">
    <h3 class="title">Statistics</h3>

    <div class="row">
        <div class="flex-child-element">
            <p class="titles">Start date</p>
            <input (ngModelChange)="checkDates()" type="date" name="startDate" class="inputField" [(ngModel)]="startDate">
        </div>
        <div class="flex-child-element">
            <p class="titles">End Date</p>
            <input (ngModelChange)="checkDates()" type="date" name="endDate" class="inputField" [(ngModel)]="endDate">
        </div>
    </div>

    <br>
    <hr>
    
    <h3 class="bottomTitle">12/02/2022 - 12/12/2022</h3>

    <p class="bottomTitles">Ride Cancelled:</p>
    <p class="bottomTitles">Ride Accepted:</p>
    <p class="bottomTitles">Work Hours:</p>
    <p class="bottomTitles">Earnings:</p>
</div>