.white-bg{
	background-color:#FFFFFF;
}

#book-ride-title{
	font-size: 48px;
	text-align: center ;
	margin-bottom: 2vw;
}

#booking-input-container{
	padding: 6vw;
}

#address-input-form{
	display: grid;
	grid-template-columns: 2fr 15fr;
	align-items: center;
	padding: 0px 3vw;
}

.input-field{
	text-align: center;
	color: var(--light_gray);
	font-size: 28px;
}

input,
input:active,
input:focus{
	border: none;
	background-color: black;
	padding: 5px 10px;
	margin-top: 2vw;
	width: 100%;
	color: var(--light_gray);
}


#start-end-icon{
	height: 120px;
}

button a{
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	color: black;
	padding: 2vw 0px;
}

#next-stepper-icon{
	height: 20px;
	text-align: center;
}

.main-container{
	text-align: center;
	padding: 1vw 0;
	margin-top: 2.3vw;
}

.stepper-footer{
	text-align: center;
	background-color: white;
}

button {
	border: 0;
	margin: 2vw 2vw;
}


#vehicle-type-form{
	text-align: left;
}

.vehicle-form-text{
	font-size: 30px;
}

.checkbox-label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	float: left;
  }
  
.checkbox {
	margin-left: 1vw;
	height: 1vw;
	width: 1vw;
	position: relative;
	top: -1px;
	cursor: pointer;
	accent-color: #FDB600;;
  }


.vehicle-form{
	display: table;
	padding: 1vw 2vw;
}

.information-display{
	text-align: left;
	padding: 1vw 3vw;
}


.information{
	font-size: 30px;
	margin-top: 1vw
}

.info-icon{
	width: 30px;
	opacity: 80%;
}

select {
	margin-left: 1vw;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    color: var(--light_gray);
    width: 60%;
	-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}




select.minimal {
	background-image:
	  linear-gradient(45deg, transparent 50%, gray 50%),
	  linear-gradient(135deg, gray 50%, transparent 50%),
	  linear-gradient(to right, #ccc, #ccc);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  calc(100% - 2em) 0.3em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
  }
  
  select.minimal:focus-visible {
	background-image:
	  linear-gradient(45deg, #FDB600 50%, transparent 50%),
	  linear-gradient(135deg, transparent 50%, #FDB600 50%),
	  linear-gradient(to right, #ccc, #ccc);
	background-position:
	  calc(100% - 15px) 1em,
	  calc(100% - 20px) 1em,
	  calc(100% - 2em) 0.3em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
	outline: 0;
  }

  