<div class="main_page">
    <div class="row">
        <div class="col-6" id="booking-input-container">
            <p id="book-ride-title" class="noto-sans">Book ride</p>
            <div class="stepper white-bg" id="stepper">
                <div class="step">
                    <img src="../../../../assets/images/icons/locationOrangeIcon.png" class="step-icon">
                    <div class="right-line"></div>
                    <div class="left-line"></div>
                </div>
                <div class="step">
                    <img src="../../../../assets/images/icons/optionGrayIcon.png" class="step-icon">
                    <div class="right-line"></div>
                    <div class="left-line"></div>
                </div>
                <div class="step">
                    <img src="../../../../assets/images/icons/carGrayIcon.png" class="step-icon">
                    <div class="right-line"></div>
                    <div class="left-line"></div>
                </div>
            </div>

            <div  class="white-bg" id="main-container" >

                <div id="booking-input-form">
                    <div style="padding-top: 2vw;">
                        <img class="align-vertical" id="start-end-icon"src="../../../../assets/images/icons/startToEndIcon.png">
                    </div>
            
                    <form class="booking-form" id="booking-form">
                        <div class="input-field">
                            <input type="text" name="start-location" id="start-location" placeholder="Starting Location" class="form-control-material" required />
                        </div>
                        <div class="input-field">
                            <input type="text" name="end-location" id="end-location" placeholder="Ending location" class="form-control-material" required />
                        </div >
                    </form>
                </div>
                <a id="set-route" class="open-sans">
                    Set route
                    <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                </a>
            </div>
        </div>
        

        <div class="col-6">
            <app-map></app-map>
        </div>
    </div>
</div>
