.white-bg{
	background-color:#FFFFFF;
}

#book-ride-title{
	font-size: 48px;
	text-align: center ;
	margin-bottom: 2vw;
}

#booking-input-container{
	padding: 6vw;
}

#address-input-form{
	display: grid;
	grid-template-columns: 2fr 15fr;
	align-items: center;
	padding: 0px 3vw;
}

.input-field{
	text-align: center;
	color: var(--light_gray);
	font-size: 28px;
}

input{
	border: none;
	background-color: black;
	padding: 5px 10px;
	margin-top: 2vw;
	width: 100%;
	color: var(--light_gray);
}

#start-end-icon{
	height: 120px;
}

#set-route{
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	color: black;
	padding: 2vw 0px;
}

#next-stepper-icon{
	height: 20px;
	text-align: center;
}

.main-container{
	text-align: center;
	padding: 1vw 0;
	margin-top: 2.3vw;
}

.stepper-footer{
	text-align: center;
	background-color: white;
}

button {
	border: 0;
	margin: 2vw 0;
}

#vehicle-type-form{
	text-align: left;
	font-size: 30px;
}

.checkbox-label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	float: left;
  }
  
.checkbox {
	margin-left: 1vw;
	height: 1vw;
	width: 1vw;
	position: relative;
	top: -1px;
	cursor: pointer;
  }

.vehicle-form{
	display: table;
	padding: 1vw 2vw;
}

.information-display{
	text-align: left;
	padding: 1vw 3vw;
}


.information{
	font-size: 30px;
	margin-top: 1vw
}

.info-icon{
	width: 30px;
	opacity: 80%;
}

  