<section  id="stepper-container">
  <div id="stepper-header"class="stepper white-bg">
    <div class="step">
      <img [src]="selectedIndex == 0 ? locationIcons[selectedIndex + 1] : locationIcons[2]" class="step-icon">
      <div class="right-line"></div>
      <div class="left-line"></div>
  </div>
  <div class="step">
      <img [src]="selectedIndex <= 2 ? optionsIcons[selectedIndex] : optionsIcons[-1]" class="step-icon">
      <div class="right-line"></div>
      <div class="left-line"></div>
  </div>
  <div class="step">
      <img [src]="selectedIndex > 0 ? carIcons[selectedIndex - 1] : carIcons[0]" class="step-icon">
      <div class="right-line"></div>
      <div class="left-line"></div>
  </div>
  </div>

  <div id="stepper-body" [ngTemplateOutlet]="selected ? selected.content : null"></div>

</section>