<header>  
    <div class="main_image align_vertical text-center">
        <div class=" text-center">
            <h1 class="main_text">
                Modern <br>
                Affordable <br>
                Necessary
                </h1>
                <button class="img-btn align_vertical" id="book-now-btn">
                    BOOK RIDE
                </button>
                <button class="img-btn align_vertical" id="become-driver-id">
                    FAVORITE RIDES
                </button>
                <button class="img-btn align_vertical" id="become-driver-id" (click)="rideHistory()">
                    RIDE HISTORY
                </button>
        </div>
    </div>
</header>
