<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}"
    [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close-btn" (click)="hide()">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p class="subtitle" *ngIf="!validCredentials">Hey! Enter your credentials to create a new account!</p>
                <p class="check-email" *ngIf="errorCode">{{errorMessage}}</p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!validCredentials">
                    <div class="credentials">
                        <div>
                            <label for="fname" class="label">First Name:</label>
                            <input type="text" id="fname" placeholder="First name" formControlName="fname">
                            <p *ngIf="form?.get('fname')?.invalid && form?.get('fname')?.touched" class="warning">!</p>
                        </div>
                        <div>
                            <label for="lname" class="label"> Last Name:</label>
                            <input type="text" id="lname" placeholder="Last name" formControlName="lname">
                            <p *ngIf="form?.get('lname')?.invalid && form?.get('lname')?.touched" class="warning">!</p>
                        </div>

                        <div>
                            <label for="email" class="label">Email:</label>
                            <input type="text" id="email" placeholder="E-mail" formControlName="email">
                            <p *ngIf="form?.get('email')?.invalid && form?.get('email')?.touched" class="warning">!</p>
                        </div>
                        <div>
                            <label for="password" class="label">Password:</label>
                            <input type="password" id="password" placeholder="Password" formControlName="password">
                            <p *ngIf="form?.get('password')?.invalid && form?.get('password')?.touched" class="warning">!</p>
                        </div>
                        <div>
                            <label for="address" class="label">Address:</label>
                            <input type="text" id="address" placeholder="Address" formControlName="address">
                            <p *ngIf="form?.get('address')?.invalid && form?.get('address')?.touched" class="warning">!</p>
                        </div>
                        <div>
                            <label for="phone" class="label">Phone Number:</label>
                            <input type="tel" id="phone" placeholder="Phone Number" formControlName="phone">
                            <p *ngIf="form?.get('phone')?.invalid && form?.get('phone')?.touched" class="warning">!</p>
                        </div>
                       
                    </div>
                    <hr>
                    <button type="button" class="btn login_btn"   type="submit"(click)="createPassenger()">Register</button>
                </form>
                <p class="check-email" *ngIf="validCredentials">Check your e-mail!</p>
                
            </div>

        </div>
    </div>
</div>