.map-container {
  margin: 30px;
  height: 100%;
  width: 80%;
  padding: 4vw;
  
}

.map-frame {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#map {
  height: 100%;
}
