<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form name="RegistracijaForma" id="RegistracijaForma">
    <div class="modal-body">
            <label for="ime_registracija">Ime:</label>
            <br />
            <input type="text" name="ime_registracija" id="ime_registracija">
            <label for="prezime_registracija">Prezime:</label>
            <br />
            <input type="text" name="prezime_registracija" id="prezime_registracija">
            <label for="email_registracija">E-mail:</label>
            <br />
            <input type="text" name="email_registracija" id="email_registracija">
            <label for="korisnickoime_registracija">Korisničko ime:</label>
            <br />
            <input type="text" name="korisnickoime_registracija" id="korisnickoime_registracija">
            <label for="sifra_registracija">Šifra:</label>
            <br />
            <input type="password" name="sifra_registracija" id="sifra_registracija">
            <label for="datumRodjenja_registracija">Datum rođenja:</label>
            <br />
            <input type="date" name="datumRodjenja_registracija" id="datumRodjenja_registracija">
            <label for="adresa_registracija">Adresa:</label>
            <br />
            <input type="text" name="adresa_registracija" id="adresa_registracija">
            <label for="telefon_registracija">Telefon: </label>
            <br>
            <input type="tel" name="telefon_registracija" id="telefon_registracija">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ZatvoriDugme2">Zatvori</button>
        <button type="submit" class="btn btn-primary">Registrujte se</button>
    </div>
    <div class="modal-footer">

    </div>
</form>