<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Noto Sans">
<body>
    <form name="RegistracijaForma" id="RegistracijaForma">
        <div class="modal-body text-center">
            <h1 style="font-size:40px">Register</h1>
            <p style="font-size:17px">Hey! Enter your credentials to create a new account!</p>
            <input type="text" name="ime_registracija" id="ime_registracija" placeholder="First name">
            <input type="text" name="prezime_registracija" id="prezime_registracija" placeholder="Last name">
            <input type="text" name="email_registracija" id="email_registracija" placeholder="Email">
            <input type="text" name="korisnickoime_registracija" id="korisnickoime_registracija" placeholder="Username">
            <input type="password" name="sifra_registracija" id="sifra_registracija" placeholder="Password">
            <input type="date" name="datumRodjenja_registracija" id="datumRodjenja_registracija">
            <input type="text" name="adresa_registracija" id="adresa_registracija" placeholder="Address">
            <input type="tel" name="telefon_registracija" id="telefon_registracija" placeholder="Telephone">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</body>
