<app-navbar [role]="role"></app-navbar>
<app-header></app-header>
<div id="main-page">
    <div class="row">
        <div class="col-6" id="booking-input-container">
            <p id="book-ride-title" class="noto-sans">Book ride</p>
            <app-stepper #cdkStepperUnregistered id="cdkStepperUnregistered">
                <cdk-step>

                <!--The first step for address input-->
                    <div class="white-bg main-container">
                        <div id="address-input-form">
                            <div style="padding-top: 2vw;">
                                <img class="align-vertical" id="start-end-icon"src="../../../../assets/images/icons/startToEndIcon.png">
                            </div>
                    
                            <form id="address-form">
                                <div class="input-field">
                                    <input type="text" #start_location name="start-location" id="start-location" class="address-input"
                                     placeholder="Starting Location" (blur)="placeStart(start_location.value)"/>
                                    <button class="select-location" (click)="placeTargetStart()"><img src="../../../../assets/images/icons/target-icon.png"></button>
                                </div>
                                <div class="input-field">
                                    <input type="text"  #end_location name="end-location" id="end-location" class="address-input"
                                     placeholder="Ending location" (blur)="placeEnd(end_location.value)" />
                                     <button class="select-location" (click)="placeTargetEnd()"><img src="../../../../assets/images/icons/target-icon.png"></button>
                                </div >
                            </form>
                        </div>
                    </div>
                    <div class="stepper-footer">
                        <div *ngIf="invalidMarkers" >
                            <p class="warning">You have to specify the starting and ending location!</p>
                        </div>
                        <button class="stepper-footer">
                            <a id="set-route" class="open-sans" (click)="createRoute()">
                              Set route
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>

                    </div>
                </cdk-step>


                <!--Second step for vehicle type selection-->
                <cdk-step>
                    <div class="white-bg main-container">
                        <div class="vehicle-form">
                            <form id="vehicle-type-form" class="noto-sans">
                                <label for="vehicle-type-select" class="vehicle-form-text">Vehicle type:</label>
                                <select name="vehicle-type-select" id="vehicle-type-select" class="minimal titilium-web" #vehicle_type_select>
                                    <option value="standard">Standard</option>
                                    <option value="luxury">Luxury</option>
                                    <option value="van">Van</option>
                                </select>
                                <label for="children-tag" class="checkbox-label vehicle-form-text">
                                    <input type="checkbox" class="checkbox" id="children-tag" name="children-tag" value="children" #children_tag>
                                    Transporting children?
                                </label>

                                
                                <label class="checkbox-label vehicle-form-text" for="pets-tag">
                                    <input class="checkbox" type="checkbox" id="pets-tag" name="pets-tag" value="pets" #pets_tag>
                                    Transporting pets?
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="stepper-footer">
                        <hr>
                        <button cdkStepperPrevious class="stepper-footer">
                            <a id="set-route-previous" class="open-sans">
                                <img  id="next-stepper-icon" src="../../../../assets/images/icons/previousIcon.png">
                                Set destination
                          </a>
                        </button>
                        <button cdkStepperNext class="stepper-footer">
                            <a id="find-vehicle" class="open-sans" (click)="calculate_price(vehicle_type_select.value)">
                              Ride details
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>
                    </div>
                </cdk-step>


                <!--Third step for booking a ride-->
                <cdk-step>
                    <div class="white-bg main-container">
                        <div class="information-display noto-sans">
                            <div class="information">
                                <img src="../../../../assets/images/icons/dollarIcon.png" class="info-icon">
                                Price: {{price}}din
                            </div>
                            <div class="information">
                                <img src="../../../../assets/images/icons/hourGlassIcon.png" class="info-icon">
                                Duration: {{duration}}min
                            </div>
                            <div class="information">
                                <img src="../../../../assets/images/icons/distanceIcon.png" class="info-icon">
                                Distance: {{distance}}km
                            </div>
                        </div>
                    </div>
                    <div class="stepper-footer">
                        <hr>
                        <button cdkStepperPrevious class="stepper-footer">
                            <a id="vehicle-details" class="open-sans">
                                <img  id="next-stepper-icon" src="../../../../assets/images/icons/previousIcon.png">
                                Vehicle details
                          </a>
                        </button>
                        <button cdkStepperNext class="stepper-footer" (click)="openloginModal(loginModal)">
                            <a id="set-route" class="open-sans">
                              Book ride
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>
                    </div>
                
                </cdk-step>
            </app-stepper>
        </div>
        

        <div class="col-6">
            <app-map></app-map>
        </div>
    </div>

    <div class="modal" tabindex="-1" #loginModal id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <app-login></app-login>
            </div>
        </div>
    </div>
    
    <div class="modal" tabindex="-1" #signupModal id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-signup></app-signup>
        </div>
    </div>

</div>
