.logo_container{
    display: flex;
    align-items: center;
}

.footer_logo {
    font-family: 'Unica One', cursive;
    font-size: 80px ;
    text-align: center;
    justify-content: left;
    line-height: 60px;
    height: fit-content;
    padding: 3vw;
    border-right: 1px solid;
    line-height: 5vw;
    margin: 0;
}


.vertical_line{
    border-right: thin solid white;
}

.footer_logo_description{
    padding: 2vw;
}

.footer_logo_description p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
}



h5{
    font-size: 32px;
    width: fit-content;
}

.navigation{
    padding-left: 4vw;
}

.navigation h5{
    margin-bottom: 2vw;
}

.navigation p {
    font-size: 20px;
    color: var(--dark_orange);
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 0;
}

.join_us p{
    color: rgba(255, 255, 255, 0.8);
}

.btn{
    background-color: var(--dark_orange);
    color: white;
    border-radius: 0px 14px 14px 0px;
    margin-left: 5%;
    width: 30%;
    font-size: 24px;
    padding: 0px 5px 2px 5px;
    margin-bottom: 8px;
}

.join_us input{
    border: medium solid var(--dark_orange);
    background-color: black;
    color: white;
    padding: 1.2%;

}

.contact_info p{
    margin-top: 0;
}

h5{
    margin-bottom: 2vw;
}

.footer-copyright{
    margin-top: 2vw;
    padding: 1vw;
    border-top: 1px solid gray;
}

.footer-copyright span{
    opacity: 0.8;
    margin-right: 1.5vw;
    font-size: 16px;
    font-weight: 100;
}