<footer>
    <div >
        <div  id="footer_container">
            <div class="row">

                <div class="col-2 footer_logo vertical_line">
                        <p>man <br> go</p>
                </div>
                <div class="col-2 footer_logo_description">
                    <p>Modern</p>
                    <p>Affordable</p>
                    <p>Necessary</p>
                </div>
                <div class="col-2 navigation">
                    <h5>Navigation</h5>
                    <p>Home</p>
                    <p>About us</p>
                    <p>Book ride</p>
                    <p>Become a driver</p>
                </div>
                <div class="col-3 join_us">
                    <h5>Join us</h5>
                    <p>Easy transportation <br>
                        More than 12,500 registered drivers <br>
                        Available in 78 countries</p>
                        <input type="text" id="email_footer" name="email_footer" placeholder="E-mail" style="width: 60%;">
                        <p class="btn">Sign in</p>
                </div>
                <div class="col-3" >
                    <h5>Contact information</h5>
                        <div class="row">
                            <div class="col-2 vertical_line" style="padding-left: 0;">
                                <p>Address</p>
                                <p>E-mail</p>
                                <p>Phone</p>
                                <p>Fax</p>
                            </div>
                            <div class="col-10" >
                                <p>Bulevar oslobodjenja 34, Novi Sad</p>
                                <p>mango_support@man.go</p>
                                <p>+381 60 0538922</p>
                                <p>555-123-4567</p>
                            </div>
                        </div>
                </div>

            </div>
                
            </div>
        </div>
    <div class="footer-copyright text-center">
        <p>Copyright © 2022 Mango inc. All rights reserved</p>
        <p >Privacy policy</p>
        <p>Terms and conditions</p>
    </div>

</footer>