<div class="container">
    <div>
        <img src="assets/images/icons/accountIcon.png" class="icon">
    </div>
    <div class="text">
        <p>Account</p>
    </div>
    
</div>
<hr>
<div class="container">
    <div>
        <img src="assets/images/icons/statisticsIcon.png" class="icon">
    </div>
    <div class="text">
        <p>Statistics</p>
    </div>
    
</div>
<hr>
<div class="container">
    <div>
        <img src="assets/images/icons/reportIcon.png" class="icon">
    </div>
    <div class="text">
        <p>Report</p>
    </div>
    
</div>
<hr>