<button class="container" (click)="routeAccount()">
    <div>
        <img src="assets/images/icons/accountIcon.png" class="icon" >
    </div>
    <div class="text">
        <p>Account</p>
    </div>
    
</button>
<hr>
<button class="container" (click)="routeStatistics()">
    <div>
        <img src="assets/images/icons/statisticsIcon.png" class="icon">
    </div>
    <div class="text">
        <p>Statistics</p>
    </div>
    
</button>
<hr>
<button class="container" (click)="routeReport()">
    <div>
        <img src="assets/images/icons/reportIcon.png" class="icon">
    </div>
    <div class="text">
        <p>Report</p>
    </div>
    
</button>
<hr>