#container{
  padding-top: 10vw;
}

.title{
    margin:5%;
}

#profileImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.titles{
    font-weight: bold;
    margin: 10px;
}

.row {
    display: flex;
    width: 100%;
  }
  
  .flex-child-element {
    margin-left:5%;
    margin-right:5%;
    width: 40%;
  }

  .inputField{
    margin:5px;
    text-indent: 10px;
    font-family: 'Noto Sans', Regular;
    box-sizing:border-box;
    width: 100%;
    border-radius:10px;
    stroke: 1px;
    height: 8vh;
    border-color:darkgrey;
    border-style:solid;
  }

  #submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 15px;
    background-color: #FFE6A7;
    border-color: #FFE6A7;
    color: black;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  border: 2px solid grey;
  margin: 5%;
}

#firstElement {
  margin-right: 20px;
  width: 25%;
}

#secondElement {
  margin-right: 20px;
  width: 75%;
  background-color: white;

}
