<app-navbar [role]="role"></app-navbar>
<app-passenger-header></app-passenger-header>
<div id="main-page">
    <div class="row">
        <div class="col-6" id="booking-input-container">
            <p id="book-ride-title" class="noto-sans">Book ride</p>
            <app-stepper #cdkStepperPassenger id="cdkStepperPassenger">
                <cdk-step>

                <!--The first step for address input-->
                    <div class="white-bg main-container">
                        <div id="address-input-form">
                            <div style="padding-top: 2vw;">
                                <img class="align-vertical" id="start-end-icon"src="../../../../assets/images/icons/startToEndIcon.png">
                            </div>
                    
                            <form id="address-form">
                                <div class="input-field">
                                    <input type="text" #start_location name="start-location" id="start-location" class="address-input"
                                     placeholder="Starting Location" (blur)="placeStart(start_location.value)"/>
                                    <button class="select-location" (click)="placeTargetStart()"><img src="../../../../assets/images/icons/target-icon.png"></button>
                                </div>
                                <div class="input-field">
                                    <input type="text"  #end_location name="end-location" id="end-location" class="address-input"
                                     placeholder="Ending location" (blur)="placeEnd(end_location.value)" />
                                     <button class="select-location" (click)="placeTargetEnd()"><img src="../../../../assets/images/icons/target-icon.png"></button>
                                </div >
                                
                            </form>
                        </div>

                    </div>
                    <div class="stepper-footer">
                        <div *ngIf="invalidMarkers" >
                            <p class="warning">You have to specify the starting and ending location!</p>
                        </div>
                        <button class="stepper-footer">
                            <a id="set-route" class="open-sans" (click)="createRoute()">
                              Set route
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>
                    </div>
                </cdk-step>


                <!--Second step for vehicle type selection-->
                <cdk-step>
                    <div class="white-bg main-container">
                        <div class="vehicle-form">
                            <form id="vehicle-type-form" class="noto-sans">
                                <label for="vehicle-type-select" class="vehicle-form-text">Vehicle type:</label>
                                <select name="vehicle-type-select" id="vehicle-type-select" class="minimal titilium-web" #vehicle_type_select>
                                    <option value="standard">Standard</option>
                                    <option value="luxury">Luxury</option>
                                    <option value="van">Van</option>
                                </select>
                                <label for="children-tag" class="checkbox-label vehicle-form-text">
                                    <input type="checkbox" class="checkbox" id="children-tag" name="children-tag"  #children_tag>
                                    Transporting children?
                                </label>
                                <label class="checkbox-label vehicle-form-text" for="pets-tag">
                                    <input class="checkbox" type="checkbox" id="pets-tag" name="pets-tag"  #pets_tag>
                                    Transporting pets?
                                </label>
                                <label class="checkbox-label vehicle-form-text" for="schedule-tag">
                                    <input class="checkbox" type="checkbox" id="schedule-tag" name="schedule-tag" #schedule_tag>
                                    Schedule the ride?
                                    <div class="time-selector titilium-web">
                                        <input type="time" id="ride_time" #ride_time >
                                    </div>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="stepper-footer">
                        <div *ngIf="invalidTime" >
                            <p class="warning">You can only schedule the ride for the next 5 hours!</p>
                        </div>
                        <hr>
                        <button cdkStepperPrevious class="stepper-footer">

                            <a id="set-route-previous" class="open-sans">
                                <img  id="next-stepper-icon" src="../../../../assets/images/icons/previousIcon.png">
                                Set destination
                          </a>
                        </button>
                        <button class="stepper-footer">
                            <a id="find-vehicle" class="open-sans" (click)="calculatePrice(vehicle_type_select.value); checkTime()">
                              Ride details
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>
                    </div>
                </cdk-step>


                <!--Third step for booking a ride-->
                <cdk-step>
                    <div class="white-bg main-container">
                        <div class="information-display noto-sans">
                            <div class="information">
                                <img src="../../../../assets/images/icons/dollarIcon.png" class="info-icon">
                                Price: {{price}}din
                            </div>
                            <div class="information">
                                <img src="../../../../assets/images/icons/hourGlassIcon.png" class="info-icon">
                                Duration: {{duration}}min
                            </div>
                            <div class="information">
                                <img src="../../../../assets/images/icons/distanceIcon.png" class="info-icon">
                                Distance: {{distance}}km
                            </div>
                        </div>
                    </div>
                    <div class="stepper-footer">
                        <hr>
                        <button cdkStepperPrevious class="stepper-footer">
                            <a id="vehicle-details" class="open-sans">
                                <img  id="next-stepper-icon" src="../../../../assets/images/icons/previousIcon.png">
                                Vehicle details
                          </a>
                        </button>
                        <button cdkStepperNext class="stepper-footer" 
                        (click)="collectRideInfo(start_location.value, end_location.value, vehicle_type_select.value, children_tag.checked, pets_tag.checked, ride_time.value)">
                            <a id="set-route" class="open-sans">
                              Book ride
                            <img  id="next-stepper-icon" src="../../../../assets/images/icons/nextIcon.png">
                          </a>
                        </button>
                    </div>
                
                </cdk-step>
                <cdk-step>
                    <div class="white-bg main-container loading-screen">
                        <div *ngIf="showLoadingScreen" >
                            <p id="loading-screen">{{ message }}</p>
                        </div>
                        <div *ngIf="noDriverAvailible">
                            <img src="../../../../assets/images/icons/sad-face-icon.png" class="sad-face">
                            <p >Cannot create a ride while you have one already pending!</p>
                            <button id="no-ride-error"  class="yellow-btn titilium-web" (click)="resetForm()">Try again</button>
                        </div>
                        <div *ngIf="driverFound" >
                            <app-passenger-ride-details ></app-passenger-ride-details>
                        </div>

                    </div>
                          
                </cdk-step>
            </app-stepper>
        </div>
    
        <div class="col-6">
            <app-map></app-map>
        </div>
    </div>
